@{
    ViewData["Title"] = "LiDAR Demo";
}

@*<div id="container" style="width:100%; height:400px;"></div>*@
@*<div id="container1" style="width:100%; height:400px;"></div>*@
<div class="text-center">
    <div class="row">
        <div class="col-10">
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <input type="checkbox" class="form-check-input" id="pollingchkbox">
                        <label class="form-check-label" for="pollingchkbox">Enable Polling Live Data</label>
                    </div>
                    <div class="col-sm">
                        <label for="example-number-input" class="col-form-label">Polling Time Interval (Seconds):</label>
                        <input id="interval" style="width:40px;" placeholder="1" value="1" type="number" min="1" max="10" />
                    </div>
                    <div class="col-sm">
                        <button id="StartButton" class="btn-success">Start Polling Data</button>
                        <button id="RefreshButton" class="btn-primary">Refresh Data</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="text-center"> <h2 id="timestamp" class="display-6"></h2></div>
    <div class="text-center">
        <h4 id="objectcounts" class="display-5"></h4>
        <div class="row">
            <div class="col-4">
                <h4 id="humancount" class=""></h4>
            </div>
            <div class="col-4">
                <h4 id="ignorecount" class=""></h4>
            </div>
            <div class="col-4">
                <h4 id="unidentifycount" class=""></h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="showData" style="width:75%">
            @*<div id="Zone0"></div>
                <div id="Zone1"></div>*@
        </div>
    </div>
    <div class="row">
        <ul id="loglist"></ul>
    </div>
</div>



<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/signalr/signalr.js"></script>
<script src="~/js/lidar.js"></script>
