@{
    ViewData["Title"] = "LiDAR Demo";
}

@*<div id="container" style="width:100%; height:400px;"></div>*@
@*<div id="container1" style="width:100%; height:400px;"></div>*@
<div id="showData" style="width:75%">
    @*<div id="Zone0"></div>
    <div id="Zone1"></div>*@
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/signalr/signalr.js"></script>
<script src="~/js/lidar.js"></script>